---
import Button from "@components/Button/Button.astro";
import { getLocaleFromUrl } from "@js/localeUtils";
import { formatDate, humanize, slugify } from "@js/textUtils";
import { useTranslations } from "@js/translationUtils";
import { Image } from "astro:assets";
import { type CollectionEntry, getEntries } from "astro:content";

import { getLocalizedRoute } from "@/js/translationUtils";

// main layout
import BaseLayout from "./BaseLayout.astro";

interface Props {
  post: CollectionEntry<"blog">;
  headings?: import("astro").MarkdownHeading[];
}

const { post } = Astro.props as Props;
const { title, description, authors, pubDate, updatedDate, heroImage } = post.data;

const currLocale = getLocaleFromUrl(Astro.url);
const t = useTranslations(currLocale);
const authorsData = await getEntries(authors);
---

<BaseLayout
  type="blog"
  title={title}
  description={description}
  heroImage={heroImage}
  authorsData={authorsData}
  postFrontmatter={post.data}
>
  <article class="site-container mt-16 md:mt-28">
    <!-- Blog post info -->
    <div class="flex w-full flex-col items-center">
      <div class="mx-auto flex w-full max-w-[800px]">
        <div class="mx-auto text-center">
          <!-- Date -->
          <time class="mx-auto text-sm opacity-90 dark:opacity-80" datetime={pubDate.toISOString()}
            >{formatDate(pubDate, currLocale)}</time
          >

          <!-- title -->
          <h1 class="h1 mt-10">{title}</h1>

          <div class="mt-6 flex w-full justify-center gap-4 text-sm">
            <!-- author info -->
            {
              authorsData.map((authorData) => (
                <div class="mb-auto flex">
                  <figure>
                    <Image
                      src={authorData.data.avatar}
                      alt={`${authorData.data.name} avatar`}
                      width={100}
                      quality="high"
                      class="h-7 w-7 rounded-full object-cover"
                    />
                  </figure>
                  <div class="my-auto ml-2">
                    <a
                      class="opacity-80 transition hover:opacity-100"
                      href={authorData.data.authorLink}
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      {authorData.data.name}
                    </a>
                  </div>
                </div>
              ))
            }
          </div>
        </div>
      </div>

      <!-- blog post main image -->
      <div class="mt-6 max-w-[1000px] overflow-hidden">
        <Image
          src={heroImage}
          alt={`Cover for ${title}`}
          width={2000}
          quality="high"
          class="border-base-300 dark:border-base-600/60 max-h-[70vh] rounded-lg border object-cover"
          loading="eager"
          format="webp"
        />
      </div>
    </div>

    <!-- article content -->
    <div class="mt-10 w-full">
      <div class="mx-auto max-w-2xl">
        <div class="text-base-content text-base">
          {
            updatedDate && (
              <div class="mb-6 italic">
                <time datetime={updatedDate.toISOString()}>
                  {t("updated")}: {formatDate(updatedDate, currLocale)}
                </time>
              </div>
            )
          }
          <section id="blog-post-content" class="markdown-content mx-auto md:text-lg">
            <slot />
          </section>

          <!-- button to go back to all posts -->
          <div class="mt-16 flex justify-center">
            <Button
              variant="outline"
              href={getLocalizedRoute(currLocale, "/blog/")}
              arrow="left"
              class="py-2"
            >
              {t("back_to_all_posts")}
            </Button>
          </div>
        </div>
      </div>
    </div>
  </article>
</BaseLayout>
